#altmetric_summary_page {
	padding: 10px;
}

a.altmetric_details {
	margin-top: 10px;
	display: block;
}

img.altmetric_donut {
	float: left;
}

div.altmetric_details_panel {
	margin-left: 10px;
}

div.altmetric_row {
	margin-left: 120px;
	padding-left: 5px;
}

div.altmetric_row > span {
	font-weight: bold;
}

/* Twitter / X */
div.altmetric_tweeters {
	border-left: 16px solid #2F90B9;
}

/* Bluesky */
div.altmetric_bluesky {
	border-left: 16px solid #1185FE;
}

/* Blogs */
div.altmetric_feeds {
	border-left: 16px solid #E89500;
}

/* Google+ */
div.altmetric_gplus {
	border-left: 16px solid #912470;
}

/* News outlet */
div.altmetric_msm {
	border-left: 16px solid #B60000;
}

/* Facebook */
div.altmetric_fbwalls {
	border-left: 16px solid #0B2CA4;
}

/* Reddit */
div.altmetric_rdts {
	border-left: 16px solid #B9DDEB;
}

/* Videos */
div.altmetric_videos {
	border-left: 16px solid #98C973;
}

/* Q and A */
div.altmetric_qna {
        border-left: 16px solid #EFEFEF;
}

/* Wikipedia */
div.altmetric_wikipedia {
	border-left: 16px solid #3B2A3D;
}

/* Policies */
div.altmetric_policies {
	border-left: 16px solid #5B17E8;
}

/* Clinical guidelines */
div.altmetric_guidelines {
	border-left: 16px solid #15BABC;
}
/* Patents*/
div.altmetric_patents {
	border-left: 16px solid #D45029;
}

/* Mendeley */
div.altmetric_mendeley {
	border-left: 16px solid #A60000;
}

/* Connotea */
div.altmetric_connotea {
	border-left: 16px solid #FF4040;
}

/* CiteULike */
div.altmetric_citeulike {
	border-left: 16px solid #BCD2EF;
}

